<h2><%= PageInfo.title %></h2>
<form action="<%= PageInfo.actionLink%>" method="POST" enctype="multipart/form-data">
    <%- include('./_form_fields')%>
        <a href="/books">Cancel</a>
        <button type="submit"><%= PageInfo.action%></button>
</form>